.sortingBoard {
  display: block;
}

.numberList {
  height: 300px;
}

.solveButton {
  display: block;
  margin: 20px auto 0;
}

.results {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}
