.sortingBoard {
  display: block;
}

.numberList {
  height: 300px;
}

.solveButton {
  display: block;
  min-width: 100px;
  margin: 20px auto 0;
  padding: 6px 16px;
  background-color: rgb(12, 61, 94);
  color: white;
}
